<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Rent fee:</strong>
  <%= @property.rent_fee %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Build year:</strong>
  <%= @property.build_year %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @property.remark %>
</p>

<p>
  <% if @property.stations.count > 0 %>
  <strong>Near <%= pluralize(@property.stations.count, "Station") %></strong>
  <% end %>
</p>

<p>
  <% @property.stations.each do |s| %>
    <b><i>Station <%= s.no %></i></b>
    <p><%= s.name %></p>
    <p><%= s.railway_name %></p>
    <p><%= s.min_to_walk %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
